.post-title , .post-subtitle{
    text-align: justify;
    color: black;
}
.post-title{
    font-size: 35px;
}
.post-subtitle{
    font-size: 20px;
}
.post-meta{
    font-size:20px;
    font-style: italic;
}
.blog-hr{
    margin-top: 40px;
    margin-bottom: 40px;
}