@media screen and (min-width: 221px) {
    .intro-header{
        position:relative;
        top: -20px;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #808080;
    }
    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }
    .navbar-default .navbar-nav > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav > li > a :hover {
        color: rgba(0, 0, 0, 0.4);

    }
    .intro-header .page-heading {
        text-align: center;
        padding-top: 30px;
        color: white;
    }
    .navbar-default .navbar-brand{
        color: rgba(2, 1, 0, 1);
        font-size: 20px;
        font-weight: bold;
    }
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-size: 30px;
    }
    hr.small {
        max-width: 69px;
        margin: 5px auto;
        border-width: 5px;
    }
    hr.below{
        max-width: 69px;
        margin: 7px auto;
        border-width: 5px;
        border-color: black;
        margin-bottom: 60px;
    }
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 40px 0px;
    }
    blockquote{
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        border-color: transparent;
    }
    .markdown-body{
        margin-top: 0px;
    }
    .thumbnail{
        padding: 6px;;
        border: none;
        text-align: center;
    }
    .thumbnail .caption{
        padding: 10px;
        text-align: center;
        margin-top: 15px;
    }
    .thumbnail-text{
        margin: 15px auto;
        text-align: center;
        font-size: 24px;
        color: Black;
        font-weight: bold;
    }
    a:hover{
        text-decoration: none;
    }
    p.small{
        text-align: center;
        font-size: 14px;
    }
    .footer-logo{
        color: #868686;
    }
    .footer-logo:hover{
        color: rgba(45, 12, 237, 1);
    }
    .footer-list{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    .about-me{
        text-align: justify;
        font-size: 15px;
        text-indent: 100px;
    }

}
@media screen and (min-width: 768px){
    .intro-header{
        position: relative;
        top: -72px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: rgba(205, 205, 205, 0.48);
        background-color: transparent;
    }
    .navbar-default .navbar-brand{
        color: black;
        font-size: 25px;
        font-weight: bold;
    }
    .navbar-default .navbar-nav > li > a{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .navbar-default .navbar-nav > li > a :hover {
        color: rgba(205, 205, 205, 0.48);

    }
    .intro-header .page-heading{
        text-align: center;
        color: white;

    }
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-size: 50px;
        font-weight: bold;
    }
    hr.small {
        max-width: 100px;
        margin: 13px auto;
        border-width: 8px;
        border-color: white;
    }
    .intro-header .page-heading{
        font-size: 20px;
        font-weight: 300;
        padding: 100px 0 ;
        margin-bottom: 35px;
    }
    .markdown-body{
        margin-top: -25px;
    }
    blockquote{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-color: transparent;
    }
    hr.below{
        align-items: center;
        max-width: 200px;
        margin: 60px auto;
        border-width: 8px;
        border-color: black;
        margin-bottom: 70px;
    }
    .thumbnail .caption {
        padding: 10px;
        text-align: center;
        margin-top: 15px;
    }
    .thumbnail{
        padding:10px;
        border: none;
    }
    .thumbnail-box {
        border-radius: 120px;
        border: 1px solid #868686;
        background-color: rgba(1, 1, 8, 0.44);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.61);
    }
    .thumbnail-text {
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 55px auto;
        font-size: 27px;
    }
    .thumbnail-box:hover{
        border: 1px solid rgba(45, 12, 237, 1);
        background-color: rgba(45, 12, 237, 1);
        box-shadow: 0px 3px 13px rgba(45, 12, 237, 1);
    }
    a:hover{
        text-decoration: none;
    }
    p.small{
        text-align: center;
        font-size: 14px;
    }
    .footer{
        margin: 50px auto;
    }
    .footer-list{
        text-align: center;
    }
    .about-me{
        text-align: justify;
        font-size: 18px;
        text-indent: 100px;
    }
    .footer-logo {
        color: #ffffff;
    }
    .fa-inverse {
        color: #0c0c0c;
    }
    .fa-inverse:hover{
        color: white;
    }
}
@media screen and (min-width: 990px){
    .thumbnail{
        padding: 0px;
    }
    p.small{
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px){
    .thumbnail {
        padding: 15px;
    }
    .intro-header .page-heading {
        font-size: 20px;
        font-weight: 300;
        padding: 100px 0px 100px 70px;
        margin-bottom: 50px;
    }
    .footer{
        padding-left: 80px;
    }
}
.dark-background{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.16);
}
.img-below{
    height: 35%;
    width: 35%;
    border: 2px solid white;
    align-content: center;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.16);;
}
.par-about{
    text-align: justify;
}
.wrapper {
    text-align: center;
}

.button {
    position: relative;
}
.form-horizontal .control-label {
    text-align: left;
}
body{
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}